<a href="https://colab.research.google.com/github/ITBA-Python/Certificacion-Profesional-Python/blob/main/Clase_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%load_ext autoreload
%autoreload 2
import Funciones_Auxiliares as faux
import pandas as pd
from Peliculas import Pelicula


#df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores=Faux.load_all()

In [6]:
# Acciones con la clase Peliculas

# Cargo el df método create_df_from_csv() directamente desde la clase
df_peliculas = Pelicula.create_df_from_csv("data/peliculas.csv")
print(df_peliculas.tail())

        id                                       Name Release Date  \
1677  1678                          Mat' i syn (1997)  06-Feb-1998
1678  1679                           B. Monkey (1998)  06-Feb-1998
1679  1680                       Sliding Doors (1998)  01-Jan-1998
1680  1681                        You So Crazy (1994)  01-Jan-1994
1681  1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

                                               IMDB URL  unknown  Action  \
1677  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...        0       0
1678  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...        0       0
1679      http://us.imdb.com/Title?Sliding+Doors+(1998)        0       0
1680  http://us.imdb.com/M/title-exact?You%20So%20Cr...        0       0
1681  http://us.imdb.com/M/title-exact?Schrei%20aus%...        0       0

      Adventure  Animation  Childrens  Comedy  ...  FilmNoir  Horror  Musical  \
1677          0          0          0       0  ...         0       0        0
1678          0          0          0       0  ...         0       0        0
1679          0          0          0       0  ...         0       0        0
1680          0          0          0       1  ...         0       0        0
1681          0          0          0       0  ...         0       0        0

      Mystery  Romance  SciFi  Thriller  War  Western   DateNorm
1677        0        0      0         0    0        0 1998-02-06
1678        0        1      0         1    0        0 1998-02-06
1679        0        1      0         0    0        0 1998-01-01
1680        0        0      0         0    0        0 1994-01-01
1681        0        0      0         0    0        0 1996-03-08

[5 rows x 24 columns]

In [22]:

#Creo Instancias de Pelicula
NuevaPeliSinID = Pelicula("PeliSinID",2025,['Adventure','Comedy',"Children's","Fantasy"])
NuevaPeliConIDExistente = Pelicula("PeliConIDExistente",2020,['Horror','Musical'],820)

#Doy de Alta satisfactoriamente con el metodo write_df
df_peliculasAgregado = NuevaPeliSinID.write_df(df_peliculas)
print(f'Rows del df original: {df_peliculas.shape[0]}\nRows del df Agregado: {df_peliculasAgregado.shape[0]}\n')

#Doy de Alta insatisfactoriamente con el metodo write_df ya que el ID existe
df_peliculasAgregado2 = NuevaPeliConIDExistente.write_df(df_peliculas)
print(f'Rows del df original: {df_peliculas.shape[0]}\nRows del df Agregado2: {df_peliculasAgregado2.shape[0]}')


df_peliculasAgregado

Rows del df original: 1682
Rows del df Agregado: 1683

Error: No se pudo agregar, id ya existente
Rows del df original: 1682
Rows del df Agregado2: 1682

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Childrens,Comedy,...,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western,DateNorm
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1995-01-01 00:00:00
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1995-01-01 00:00:00
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995-01-01 00:00:00
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1995-01-01 00:00:00
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,1679,B. Monkey (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1998-02-06 00:00:00
1679,1680,Sliding Doors (1998),01-Jan-1998,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1998-01-01 00:00:00
1680,1681,You So Crazy (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1994-01-01 00:00:00
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1996-03-08 00:00:00
1682,1683,PeliSinID (2025),0,0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [35]:
#Vamos a Filtrar segun algunos criterios la df
ListaPelisFiltradas1= Pelicula.get_from_df(df_peliculas, nombre = 'space', anios = [1900,2000]) #El filtro de nombre es un contiene para ser mas abarcativo
ListaPelisFiltradas2= Pelicula.get_from_df(df_peliculas, generos = ['Comedy','Musical'], anios=[1900,1950])
ListaPelisFiltradas3= Pelicula.get_from_df(df_peliculas, id=135)

#Vamos a ver los filtros
print(f'Filtro1: cantidad {len(ListaPelisFiltradas1)} \n {ListaPelisFiltradas1}\n') # Se printean de acuerdo al metodo.__repr__ de la clase
print(f'Filtro2: cantidad {len(ListaPelisFiltradas2)}\n{ListaPelisFiltradas2}\n')
print(f'Filtro3: cantidad {len(ListaPelisFiltradas3)}\n{ListaPelisFiltradas3}')

Name.str.contains("space", case=False) and DateNorm >= "1900-01-01" and DateNorm <= "2000-12-31"
DateNorm >= "1900-01-01" and DateNorm <= "1950-12-31" and Comedy== 1 and Musical== 1
id==135
Filtro1: cantidad 4
 [ Id: 135
 Name: 2001: A Space Odyssey
 Año: 1968
 Generos: Drama, Mystery, SciFi, Thriller,  Id: 758
 Name: Lawnmower Man 2: Beyond Cyberspace
 Año: 1996
 Generos: SciFi, Thriller,  Id: 820
 Name: Space Jam
 Año: 1996
 Generos: Adventure, Animation, Childrens, Comedy, Fantasy,  Id: 916
 Name: Lost in Space
 Año: 1998
 Generos: Action, SciFi, Thriller]

Filtro2: cantidad 0
[]

Filtro3: cantidad 1
[ Id: 135
 Name: 2001: A Space Odyssey
 Año: 1968
 Generos: Drama, Mystery, SciFi, Thriller]

In [24]:
#Decidimos borrar de df_peliculas los resultados de ListaFiltrada2
print(f'Rows del df original: {df_peliculas.shape[0]}')

for x in ListaPelisFiltradas2:
    df_peliculas=x.remove_from_df(df_peliculas)

print(f'Rows del df luego del borrado: {df_peliculas.shape[0]}')

Rows del df original: 1682
id==835 and Name.str.contains("Gay Divorcee, The", case=False) and DateNorm >= "1934-01-01" and DateNorm <= "1934-12-31" and Comedy== 1 and Musical== 1 and Romance== 1
id==1203 and Name.str.contains("Top Hat", case=False) and DateNorm >= "1935-01-01" and DateNorm <= "1935-12-31" and Comedy== 1 and Musical== 1 and Romance== 1
id==1286 and Name.str.contains("Shall We Dance?", case=False) and DateNorm >= "1937-01-01" and DateNorm <= "1937-12-31" and Comedy== 1 and Musical== 1 and Romance== 1
id==1458 and Name.str.contains("Damsel in Distress, A", case=False) and DateNorm >= "1937-01-01" and DateNorm <= "1937-12-31" and Comedy== 1 and Musical== 1 and Romance== 1
Rows del df luego del borrado: 1678

In [25]:
#Altero algun dato del filtro 3 por ejemplo el año y despues trato de borrarla
print(f'Rows del df original: {df_peliculas.shape[0]}')
ListaPelisFiltradas3[0].anio=2000
df_peliculas=ListaPelisFiltradas3[0].remove_from_df(df_peliculas)
print(f'Rows del df luego del intento de borrado: {df_peliculas.shape[0]}')

#Lo mismo ocurre si por ejemplo le agregamos un genero 
ListaPelisFiltradas3= Pelicula.get_from_df(df_peliculas, id=135)
ListaPelisFiltradas3[0].generos.append('Romance')
df_peliculas=ListaPelisFiltradas3[0].remove_from_df(df_peliculas)
print(f'Rows del df luego del intento de borrado: {df_peliculas.shape[0]}')

Rows del df original: 1678
id==135 and Name.str.contains("2001: A Space Odyssey", case=False) and DateNorm >= "2000-01-01" and DateNorm <= "2000-12-31" and Drama== 1 and Mystery== 1 and SciFi== 1 and Thriller== 1
No existe en el df recibido una película exactamente igual a la que invoca esta acción
Rows del df luego del intento de borrado: 1678
id==135
id==135 and Name.str.contains("2001: A Space Odyssey", case=False) and DateNorm >= "1968-01-01" and DateNorm <= "1968-12-31" and Drama== 1 and Mystery== 1 and SciFi== 1 and Thriller== 1 and Romance== 1
No existe en el df recibido una película exactamente igual a la que invoca esta acción
Rows del df luego del intento de borrado: 1678

In [26]:
### GET STATS
print(df_peliculasAgregado.tail())

        id                                       Name Release Date  \
1678  1679                           B. Monkey (1998)  06-Feb-1998
1679  1680                       Sliding Doors (1998)  01-Jan-1998
1680  1681                        You So Crazy (1994)  01-Jan-1994
1681  1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996
1682  1683                           PeliSinID (2025)            0

                                               IMDB URL  unknown  Action  \
1678  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...        0       0
1679      http://us.imdb.com/Title?Sliding+Doors+(1998)        0       0
1680  http://us.imdb.com/M/title-exact?You%20So%20Cr...        0       0
1681  http://us.imdb.com/M/title-exact?Schrei%20aus%...        0       0
1682                                                  0        0       0

      Adventure  Animation  Childrens  Comedy  ...  FilmNoir  Horror  Musical  \
1678          0          0          0       0  ...         0       0        0
1679          0          0          0       0  ...         0       0        0
1680          0          0          0       1  ...         0       0        0
1681          0          0          0       0  ...         0       0        0
1682          1          0          1       1  ...         0       0        0

      Mystery  Romance  SciFi  Thriller  War  Western             DateNorm
1678        0        1      0         1    0        0  1998-02-06 00:00:00
1679        0        1      0         0    0        0  1998-01-01 00:00:00
1680        0        0      0         0    0        0  1994-01-01 00:00:00
1681        0        0      0         0    0        0  1996-03-08 00:00:00
1682        0        0      0         0    0        0                    0

[5 rows x 24 columns]

In [110]:
Pelicula.get_stats(df_peliculas, generos=['Comedy'])

Pelicula mas vieja:

 [430] Duck Soup (1933) -Comedy, War-

Pelicula mas reciente:

 [1649] Big One, The (1998) -Comedy, Documentary-

In [111]:
Pelicula.get_stats(df_peliculas, anios=[1945,2000])

4 películas comparten la fecha mas vieja:
[
 [445] Body Snatcher, The (1945) -Horror-,
 [608] Spellbound (1945) -Mystery, Romance, Thriller-,
 [624] Three Caballeros, The (1945) -Animation, Childrens, Musical-,
 [1310] Walk in the Sun, A (1945) -Drama-]

Pelicula mas reciente:

 [315] Apt Pupil (1998) -Drama, Thriller-

In [113]:
Pelicula.filtrar_df(df_peliculas,generos=['Comedy']).sort_values(by='DateNorm', ascending=False)

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Childrens,Comedy,...,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western,DateNorm
1648,1649,"Big One, The (1997)",27-Mar-1998,"http://us.imdb.com/Title?Big+One,+The+(1997)",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1998-03-27
1524,1525,"Object of My Affection, The (1998)",20-Mar-1998,http://us.imdb.com/Title?Object+of+My+Affectio...,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1998-03-20
1646,1647,Hana-bi (1997),20-Mar-1998,http://us.imdb.com/Title?Hana-bi+(1997),0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1998-03-20
912,913,Love and Death on Long Island (1997),10-Mar-1998,http://us.imdb.com/Title?Love+and+Death+on+Lon...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1998-03-10
1655,1656,Little City (1998),20-Feb-1998,http://us.imdb.com/M/title-exact?Little+City+(...,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1998-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,497,Bringing Up Baby (1938),01-Jan-1938,http://us.imdb.com/M/title-exact?Bringing%20Up...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1938-01-01
612,613,My Man Godfrey (1936),01-Jan-1936,http://us.imdb.com/M/title-exact?My%20Man%20Go...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1936-01-01
1460,1461,Here Comes Cookie (1935),01-Jan-1935,http://us.imdb.com/M/title-exact?Here%20Comes%...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1935-01-01
603,604,It Happened One Night (1934),01-Jan-1934,http://us.imdb.com/M/title-exact?It%20Happened...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1934-01-01
429,430,Duck Soup (1933),01-Jan-1933,http://us.imdb.com/M/title-exact?Duck%20Soup%2...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1933-01-01

In [116]:
df_peliculas.sort_values(by='DateNorm', ascending=False)

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Childrens,Comedy,...,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western,DateNorm
314,315,Apt Pupil (1998),23-Oct-1998,http://us.imdb.com/Title?Apt+Pupil+(1998),0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1998-10-23
1431,1432,"Mighty, The (1998)",09-Oct-1998,"http://us.imdb.com/Title?Mighty,+The+(1998)",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1998-10-09
917,918,City of Angels (1998),03-Apr-1998,http://us.imdb.com/Title?City+of+Angels+(1998),0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1998-04-03
916,917,Mercury Rising (1998),27-Mar-1998,http://us.imdb.com/Title?Mercury+Rising+(1998),0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1998-03-27
1648,1649,"Big One, The (1997)",27-Mar-1998,"http://us.imdb.com/Title?Big+One,+The+(1997)",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1998-03-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,656,M (1931),01-Jan-1931,http://us.imdb.com/M/title-exact?M%20(1931),0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1931-01-01
616,617,"Blue Angel, The (Blaue Engel, Der) (1930)",01-Jan-1930,http://us.imdb.com/M/title-exact?Blaue%20Engel...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1930-01-01
1541,1542,"Scarlet Letter, The (1926)",01-Jan-1926,http://us.imdb.com/M/title-exact?Scarlet%20Let...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1926-01-01
674,675,"Nosferatu (Nosferatu, eine Symphonie des Graue...",01-Jan-1922,"http://us.imdb.com/M/title-exact?Nosferatu,%20...",0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1922-01-01
266,267,unknown,NaN,NaN,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaT

In [118]:
df_peliculas[df_peliculas['Name'].str.contains('2000')]

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Childrens,Comedy,...,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western,DateNorm
361,362,Blues Brothers 2000 (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?Blues+Brother...,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1998-02-06

In [ ]:
new_row.keys().tolist()

AttributeError: 'dict_keys' object has no attribute 'tolist'

In [ ]:

ListaPelisFiltradas2= Pelicula.filtrar_df(df_peliculas, generos = ['Comedy','Musical'], anios=[1900,2000])

ListaPelisFiltradas2

DateNorm >= "1900-01-01" and DateNorm <= "2000-12-31" and Comedy== 1 and Musical== 1

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Childrens,Comedy,...,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western,DateNorm
20,21,Muppet Treasure Island (1996),16-Feb-1996,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,1,...,0,0,1,0,0,0,1,0,0,1996-02-16
90,91,"Nightmare Before Christmas, The (1993)",01-Jan-1993,http://us.imdb.com/M/title-exact?Nightmare%20B...,0,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,1993-01-01
94,95,Aladdin (1992),01-Jan-1992,http://us.imdb.com/M/title-exact?Aladdin%20(1992),0,0,0,1,1,1,...,0,0,1,0,0,0,0,0,0,1992-01-01
185,186,"Blues Brothers, The (1980)",01-Jan-1980,http://us.imdb.com/M/title-exact?Blues%20Broth...,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1980-01-01
208,209,This Is Spinal Tap (1984),01-Jan-1984,http://us.imdb.com/M/title-exact?This%20Is%20S...,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1984-01-01
318,319,Everyone Says I Love You (1996),06-Dec-1996,http://us.imdb.com/M/title-exact?Everyone%20Sa...,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1996-12-06
351,352,Spice World (1997),01-Jan-1997,http://us.imdb.com/M/title-exact?imdb-title-12...,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1997-01-01
361,362,Blues Brothers 2000 (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?Blues+Brother...,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1998-02-06
418,419,Mary Poppins (1964),01-Jan-1964,http://us.imdb.com/M/title-exact?Mary%20Poppin...,0,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,1964-01-01
450,451,Grease (1978),01-Jan-1978,http://us.imdb.com/M/title-exact?Grease%20(1978),0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1978-01-01
628,629,Victor/Victoria (1982),01-Jan-1982,http://us.imdb.com/M/title-exact?Victor/Victor...,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1982-01-01
629,630,"Great Race, The (1965)",01-Jan-1965,"http://us.imdb.com/M/title-exact?Great%20Race,...",0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1965-01-01
964,965,Funny Face (1957),01-Jan-1957,http://us.imdb.com/M/title-exact?Funny%20Face%...,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1957-01-01
992,993,Hercules (1997),27-Jun-1997,http://us.imdb.com/M/title-exact?Hercules+(1997),0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1997-06-27
1036,1037,Grease 2 (1982),01-Jan-1982,http://us.imdb.com/M/title-exact?Grease%202%20...,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1982-01-01
1078,1079,Joe's Apartment (1996),26-Jul-1996,http://us.imdb.com/M/title-exact?Joe's%20Apart...,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1996-07-26
1109,1110,Tank Girl (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Tank%20Girl%2...,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,1995-01-01
1297,1298,"Band Wagon, The (1953)",01-Jan-1953,"http://us.imdb.com/M/title-exact?Band%20Wagon,...",0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1953-01-01

In [ ]:
df_peliculas

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Childrens,Comedy,...,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western,DateNorm
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1995-01-01
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1995-01-01
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995-01-01
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1995-01-01
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1998-02-06
1678,1679,B. Monkey (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1998-02-06
1679,1680,Sliding Doors (1998),01-Jan-1998,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1998-01-01
1680,1681,You So Crazy (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1994-01-01
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1996-03-08