<a href="https://colab.research.google.com/github/ITBA-Python/Certificacion-Profesional-Python/blob/main/Clase_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../') 
import Helper as faux
import pandas as pd
from datetime import datetime
from clases.Scores import Score

#df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores=Faux.load_all()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
df = Score.create_df_from_csv('../data/scores.csv')
df.head()

   user_id  movie_id  rating                Date
0      196       242       3 1997-12-04 15:55:49
1      186       302       3 1998-04-04 19:22:22
2       22       377       1 1997-11-07 07:18:36
3      244        51       2 1997-11-27 05:02:03
4      166       346       1 1998-02-02 05:33:16

In [32]:
#Doy de Alta satisfactoriamente con el metodo write_df en Scores
NuevoScore = Score(idPelicula=22200,idUsuario=250,puntuacion=9,timestamp=datetime.now().strftime("%d/%m/%Y %H:%M:%S"))
df_scoresAgregado = NuevoScore.write_df(df)
print(f'Rows del df original: {df.shape[0]}\nRows del df Agregado: {df_scoresAgregado.shape[0]}\n')

Rows del df original: 100000
Rows del df Agregado: 100001

In [33]:

#Doy de Alta un registro ya existente y lo actualizó con el metodo write_df en Scores
ScoreExistente = Score(idPelicula=200,idUsuario=250,puntuacion=8,timestamp=datetime.now().strftime("%d/%m/%Y %H:%M:%S"))
df_scoresAgregado2 = ScoreExistente.write_df(df)
print(f'Rows del df original: {df.shape[0]}\nRows del df Agregado: {df_scoresAgregado2.shape[0]}\n')

filtered_df = df[(df['user_id'] == ScoreExistente.idUsuario) & (df['movie_id'] == ScoreExistente.idPelicula)]
filtered_df_scoresAgregado = df_scoresAgregado2[(df_scoresAgregado2['user_id'] == ScoreExistente.idUsuario) & (df_scoresAgregado2['movie_id'] == ScoreExistente.idPelicula)]
print(f'Calificacion del Registro original:\n {filtered_df.head()}\n\nCalificacion del Registro updateado:\n{filtered_df_scoresAgregado.head()}\n')

Se actualizará la calificacion ya exstente para esa pelicula y de este usuario
Rows del df original: 100000
Rows del df Agregado: 100000

Calificacion del Registro original:
       user_id  movie_id  rating                Date
5047      250       200       5 1997-12-27 22:56:14

Calificacion del Registro updateado:
      user_id  movie_id  rating                 Date
5047      250       200       8  23/05/2024 15:29:32

In [34]:
#Vamos a Borrar del df original la pelicula con el score existente.
df_scoresEliminado = ScoreExistente.remove_from_df(df)
print(f'Rows del df original: {df.shape[0]}\nRows del df Agregado: {df_scoresEliminado.shape[0]}\n')

Rows del df original: 100000
Rows del df Agregado: 99999

In [35]:
a= Score.obtener_rating_promedio_variable(df,'movie_id')
a

      movie_id    rating
0            1  3.878319
1            2  3.206107
2            3  3.033333
3            4  3.550239
4            5  3.302326
...        ...       ...
1677      1678  1.000000
1678      1679  3.000000
1679      1680  2.000000
1680      1681  3.000000
1681      1682  3.000000

[1682 rows x 2 columns]

In [60]:
Score.get_from_df(df,anios=[1970,1999])

Date >= "1970-01-01" and Date <= "1990-12-31"

       user_id  movie_id  rating                Date
0          196       242       3 1997-12-04 15:55:49
1          186       302       3 1998-04-04 19:22:22
2           22       377       1 1997-11-07 07:18:36
3          244        51       2 1997-11-27 05:02:03
4          166       346       1 1998-02-02 05:33:16
...        ...       ...     ...                 ...
99995      880       476       3 1997-11-22 05:10:44
99996      716       204       5 1997-11-17 19:39:03
99997      276      1090       1 1997-09-20 22:49:55
99998       13       225       2 1997-12-17 22:52:36
99999       12       203       3 1997-11-19 17:13:03

[100000 rows x 4 columns]

In [ ]:
#Altero algun dato del filtro 3 por ejemplo el año y despues trato de borrarla
print(f'Rows del df original: {df_peliculas.shape[0]}')
ListaPelisFiltradas3[0].anio=2000
df_peliculas=ListaPelisFiltradas3[0].remove_from_df(df_peliculas)
print(f'Rows del df luego del intento de borrado: {df_peliculas.shape[0]}')

#Lo mismo ocurre si por ejemplo le agregamos un genero 
ListaPelisFiltradas3= Pelicula.get_from_df(df_peliculas, id=135)
ListaPelisFiltradas3[0].generos.append('Romance')
df_peliculas=ListaPelisFiltradas3[0].remove_from_df(df_peliculas)
print(f'Rows del df luego del intento de borrado: {df_peliculas.shape[0]}')

In [ ]:
### GET STATS
print(df_peliculasAgregado.tail())

In [ ]:
Pelicula.get_stats(df_peliculas, generos=['Comedy'])

In [ ]:
Pelicula.get_stats(df_peliculas, anios=[1945,2000])

In [ ]:
df_peliculas[df_peliculas['Name'].str.contains('2000')]

In [ ]:

ListaPelisFiltradas2= Pelicula.filtrar_df(df_peliculas, generos = ['Comedy','Musical'], anios=[1900,2000])

ListaPelisFiltradas2

In [ ]:
df_peliculas

In [ ]:

#Pelicula.get_stats(df_peliculas, anios=[1960 , 1980])

In [ ]:
import matplotlib as plt

df_grafico=Pelicula.filtrar_df(df_peliculas, anios=[1960 , 1980])
# Extraer el año de la columna 'Release Date'
df_grafico=Pelicula.filtrar_df(df_peliculas, anios=[1960 , 1980], generos=['Comedy','Fantasy','Crime'])
df_grafico['year'] = df_grafico['DateNorm'].dt.year
df_grafico.drop('DateNorm', axis='columns', inplace=True)

# Filtrar solo las columnas de géneros y el año
genre_columns = df_grafico.columns[5:]  # Suponiendo que las primeras columnas no son géneros
df_genres = df_grafico[ list(genre_columns)]

In [ ]:
# Sumar la cantidad de películas por género en cada año
genre_by_year = df_genres.groupby('year').sum()

# Rellenar NaN con 0 (opcional, si hay algún año sin películas)
genre_by_year = genre_by_year.fillna(0)

In [ ]:
df_genres.head()

In [ ]:
genre_by_year.head()

In [ ]:
#genre_by_year = genre_by_year.set_index('year')

# Crear el gráfico de barras apiladas
genre_by_year.plot(kind='bar', stacked=True, figsize=(10, 7))

# Configurar las etiquetas y el título
plt.xlabel('Year')
plt.ylabel('Number of Movies')
plt.title('Number of Movies per Genre by Year')
plt.legend(title='Genre', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()

# Mostrar el gráfico
plt.show()