<a href="https://colab.research.google.com/github/ITBA-Python/Certificacion-Profesional-Python/blob/main/Clase_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../') 
import pandas as pd
import Helper as faux
from clases.Trabajador import Trabajador
from clases.Persona import Persona

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
# Acciones con la clase Trabajador

# Cargo el df método create_df_from_csv() directamente desde la clase
df_trabajadores = Trabajador.create_df_from_csv("../data/trabajadores.csv")
print(df_trabajadores.tail())

     id        Position Category Working_Hours  Start_Date
14  872              IT        C        9 - 18  1997-11-14
15  873  Nuevo Puesto 2        A        8 - 17  2024-05-19
16  820    Nuevo Puesto        A        8 - 17  2024-05-19
17  874  Nuevo Puesto 2        A        8 - 17  2024-05-19
18  875  Nuevo Puesto 2        A        8 - 17  2024-05-19

In [28]:
# Llama al método ConvertirATrabajadores para convertir el DataFrame en una lista de objetos Trabajador
lista_trabajadores = Trabajador.convertir_a_trabajadores(df_trabajadores)

# Imprime la lista de trabajadores para verificar si se crearon correctamente
for trabajador in lista_trabajadores:
    print(trabajador.__repr__())

 [16] Matthew Brentley (1977) -Masculino- CP:10309  - 16 - 1998-03-30 - Analyst - B - 9 - 18


 [31] Maurice Yundt (1974) -Masculino- CP:10003  - 31 - 1997-09-25 - Analyst - A - 9 - 18


 [167] Randall Brown (1961) -Masculino- CP:L9G2B  - 167 - 1997-10-24 - Analyst - B - 7 - 16


 [183] Robert Long (1965) -Masculino- CP:27708  - 183 - 1998-01-26 - Analyst - C - 20 - 04


 [298] Joseph Hill (1954) -Masculino- CP:01581  - 298 - 1997-10-18 - Analyst - C - 9 - 18


 [358] Brian Hunter (1958) -Masculino- CP:10022  - 358 - 1998-04-17 - Analyst - A - 7 - 16


 [397] Raymond Witt (1981) -Masculino- CP:27514  - 397 - 1998-02-08 - Analyst - B - 7 - 16


 [470] Roger Lacour (1974) -Masculino- CP:10021  - 470 - 1997-12-23 - CTO - A - 7 - 16


 [501] William Johnson (1976) -Masculino- CP:10025  - 501 - 1998-01-17 - CFO - C - 7 - 16


 [598] Esther Mcgregor (1958) -Femenino- CP:43085  - 598 - 1997-12-06 - CEO - A - 8-17


 [629] Annie Maddox (1952) -Femenino- CP:44224  - 629 - 1997-11-12 - Sales Regional Manager - A - 9 - 18


 [665] Mario Handly (1973) -Masculino- CP:55412  - 665 - 1997-09-22 - Marketing Regional Manager - C - 8-17


 [751] Norma Penix (1974) -Femenino- CP:90034  - 751 - 1998-01-15 - IT Manager - B - 20 - 04


 [803] Matthew Laster (1928) -Masculino- CP:78212  - 803 - 1997-11-13 - IT - C - 8-17


 [872] Alissa Borgen (1979) -Femenino- CP:74078  - 872 - 1997-11-14 - IT - C - 9 - 18


 [873] Doris Schmidt (1950) -Femenino- CP:33763  - 873 - 2024-05-19 - Nuevo Puesto 2 - A - 8 - 17


 [820] Roger Barut (1976) -Masculino- CP:37725  - 820 - 2024-05-19 - Nuevo Puesto - A - 8 - 17


 [874] Patrick Fowler (1962) -Masculino- CP:37076  - 874 - 2024-05-19 - Nuevo Puesto 2 - A - 8 - 17


 [875] Ruth Tankersley (1974) -Femenino- CP:35802  - 875 - 2024-05-19 - Nuevo Puesto 2 - A - 8 - 17

In [113]:
df_personas = Persona.create_df_from_csv("../data/personas.csv")
df_trabajadores = Trabajador.create_df_from_csv("../data/trabajadores.csv")

nuevoTrabajadorSinID = Trabajador(id=None, fechaAlta='2024-05-19', puesto='Nuevo Puesto 2', categoria='A', horarioTrabajo='8 - 17',
                                  fecha_nac=1990, genero='M', cod_postal='E2E3R', fullname='Juan Perez')


#Doy de Alta satisfactoriamente con el metodo write_df
df_personasAgregado,df_trabajadoresAgregado = nuevoTrabajadorSinID.write_df(df_personas,df_trabajadores)
print(f'Rows del df original df trabajadores: {df_trabajadores.shape[0]}\n')
print(f'Rows del df original df personas: {df_personas.shape[0]}\n')
print(f'Rows del df final df trabajadores: {df_trabajadoresAgregado.shape[0]}\n')
print(f'Rows del df final df personas: {df_personasAgregado.shape[0]}\n')


#No doy de Alta satisfactoriamente con el metodo write_df ya que el Id esta repetido
nuevoTrabajadorConIDRepetido = Trabajador(id=943, fechaAlta='2024-05-19', puesto='Nuevo Puesto 2', categoria='A', horarioTrabajo='8 - 17',
                                  fecha_nac=1990, genero='M', cod_postal='E2E3R', fullname='Juan Perez')
df_personasAgregado2,df_trabajadoresAgregado2 = nuevoTrabajadorConIDRepetido.write_df(df_personasAgregado,df_trabajadoresAgregado)
print(f'Rows del df original df trabajadores: {df_trabajadoresAgregado.shape[0]}\n')
print(f'Rows del df original df personas: {df_personasAgregado.shape[0]}\n')
print(f'Rows del df final df trabajadores: {df_trabajadoresAgregado2.shape[0]}\n')
print(f'Rows del df final df personas: {df_personasAgregado2.shape[0]}\n')

Rows del df original df trabajadores: 21

Rows del df original df personas: 945

Rows del df final df trabajadores: 22

Rows del df final df personas: 946

Error: No se pudo agregar, id ya existente en archivo de trabajadores
Rows del df original df trabajadores: 22

Rows del df original df personas: 946

Rows del df final df trabajadores: 22

Rows del df final df personas: 946

In [114]:
df_trabajadores = Trabajador.create_df_from_csv("../data/trabajadores.csv")

#Vamos a Filtrar segun algunos criterios la df
ListaTrabFiltradas1= Trabajador.get_from_df(df_trabajadores, puesto = 'Analyst') 
ListaTrabFiltradas2= Trabajador.get_from_df(df_trabajadores, horarioTrabajo = '9 - 18')
ListaTrabFiltradas3= Trabajador.get_from_df(df_trabajadores, id=875)

#Vamos a ver los filtros
print(f'Filtro1: cantidad {len(ListaTrabFiltradas1)} \n {ListaTrabFiltradas1}\n')
print(f'Filtro2: cantidad {len(ListaTrabFiltradas2)}\n{ListaTrabFiltradas2}\n')
print(f'Filtro3: cantidad {len(ListaTrabFiltradas3)}\n{ListaTrabFiltradas3}')

Filtro1: cantidad 7
 [

 [16] Bryan Cloutier (1968) -Masculino- CP:06355  - 16 - 1998-03-30 - Analyst - B - 9 - 18,

 [31] Stacey Sisk (1970) -Femenino- CP:78741  - 31 - 1997-09-25 - Analyst - A - 9 - 18,

 [167] Charles Oden (1950) -Masculino- CP:80127  - 167 - 1997-10-24 - Analyst - B - 7 - 16,

 [183] Bobby Miller (1961) -Masculino- CP:76013  - 183 - 1998-01-26 - Analyst - C - 20 - 04,

 [298] Everett Davis (1969) -Masculino- CP:63108  - 298 - 1997-10-18 - Analyst - C - 9 - 18,

 [358] Wesley Rivers (1976) -Masculino- CP:61801  - 358 - 1998-04-17 - Analyst - A - 7 - 16,

 [397] David Gilman (1958) -Masculino- CP:60008  - 397 - 1998-02-08 - Analyst - B - 7 - 16]

Filtro2: cantidad 5
[

 [16] Bryan Cloutier (1968) -Masculino- CP:06355  - 16 - 1998-03-30 - Analyst - B - 9 - 18,

 [31] Stacey Sisk (1970) -Femenino- CP:78741  - 31 - 1997-09-25 - Analyst - A - 9 - 18,

 [298] Everett Davis (1969) -Masculino- CP:63108  - 298 - 1997-10-18 - Analyst - C - 9 - 18,

 [629] Linda Russell (1972) -Femenino- CP:55408  - 629 - 1997-11-12 - Sales Regional Manager - A - 9 - 18,

 [872] Doris Schmidt (1950) -Femenino- CP:33763  - 872 - 1997-11-14 - IT - C - 9 - 18]

Filtro3: cantidad 1
[

 [875] Robert Vargas (1957) -Masculino- CP:20902  - 875 - 2024-05-19 - Nuevo Puesto 2 - A - 8 - 17]

In [19]:
#Decidimos borrar de df_trabajadores los resultados de ListaTrabFiltradas3
print(f'Rows del df original: {df_trabajadores.shape[0]}')

for x in ListaTrabFiltradas3:
    df_trabajadores=x.remove_from_df(df_trabajadores)

print(f'Rows del df luego del borrado: {df_trabajadores.shape[0]}')

Rows del df original: 20
Rows del df luego del borrado: 19

In [1]:
### GET STATS
print(df_peliculasAgregado.tail())

Pelicula.get_stats(df_peliculas, generos=['Comedy'])

NameError: name 'df_peliculasAgregado' is not defined